// LicenseSecret.swift — NOT committed to git (see .gitignore)
// Copy this file to LicenseSecret.swift and fill in the real secret.
// Keep the secret in sync with Vercel environment variable: LICENSE_SECRET
let LICENSE_SECRET = "CHANGE_ME_BEFORE_SHIPPING_32BYTE_SECRET_KEY_HERE"
